/*! * Start Bootstrap - Logo Nav (https://startbootstrap.com/template-overviews/logo-nav) * Copyright 2013-2017 Start Bootstrap * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logo-nav/blob/master/LICENSE) */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800|Open+Sans:300,400,600,700,800');
@font-face {
    font-family:"Font Digital";
    src:url('../fonts/Verdana.ttf');
}
.Verdana {
    font-family:"Font Verdana";
}
body {
    font-family:'Open Sans',sans-serif;
    font-size: 13px;
}
/*class width*/
.width_100{
    width: 100px;
}
.width_150 {
    width:150px;
}
.width_120 {
    width:120px;
}
.width_170{
    width: 170px;
}
.width_200 {
    width:200px;
}
.nopadding {
    padding:0!important;
}
.nomargin {
    margin:0!important;
}
.btn-default {
    background:#f4f4f4;
    border:#ddd solid 1px;
    border-radius:0px;
    color:#333;
    font-size: 12px;
    margin: 1px 0;
}
.btn-primary {
    background:#3c8dbc;
    border-radius:0px;
    color:#fff;
    border:#367fa9 solid 1px;
    font-size: 12px;
    margin: 1px 0;
}
.form-control {
    border-radius:0;
}
.logo-brand{
    width:150px; 
    height:30px; 
}
#top-nav .navbar-brand.logo {
    padding:8px 15px;
}
#top-nav .navbar-default .navbar-brand {
    color:#fff;
    font-family:'Open Sans',sans-serif;
    font-weight:600;
    font-size:14px;
}
#top-nav .navbar-default .navbar-brand:hover {
    color:#f3f3f3;
}
#top-nav .navbar {
    border-radius:0px;
    color:#fff;
    height:60px;
    padding:6px;
}
#top-nav .navbar-form.navbar-right label {
    padding:0 15px;
    font-family:'Open Sans',sans-serif;
    font-weight:800;
    font-size:14px;
}
#top-body label {
    font-size:18px;
    font-weight:600;
}
.bg-dark {
    background:#333333!important;
    border:#333!important;
}
.bg-orange-yellow {
    background:#f6f4ed!important;
    border:#f6f4ed!important;
    margin-bottom:0;
}
#middle-nav .navbar-nav>li {
    padding-left:14px;
}
#middle-nav .navbar-default .navbar-nav>li>a.btn {
    color:#333;
    border:#aaa;
    padding:6px 12px;
}
#middle-nav .navbar-default .navbar-nav>li>a.btn.btn-default {
    background:#fff;
    border-radius:0px;
    border:#d1d0ba solid 1px;
}
#middle-nav .navbar-default .navbar-nav>li>a.btn.btn-default:hover {
    background:#f9f9f9!important;
    color:#333!important;
    border:#d1d0ba solid 1px;
}
#middle-nav .navbar-default .navbar-nav>li>a.btn.btn-default:focus {
    background:#f9f9f9!important;
    color:#333!important;
    border:#d1d0ba solid 1px;
}
#middle-nav .cs-margin {
    margin:8px 0;
}
#navigation {
    padding-top:15px;
    background:#f6f4ed;
}
#navigation .navbar-default {
    border:none;
    border-radius:0;
    background:#f6f4ed;
    margin-bottom:0;
}
#navigation .navbar-default .navbar-nav>li {
    margin:0 5px;
}
.navbar-default .navbar-nav>li>a.btn.btn-primary {
    color:#fff;
    background:#356091;
    border-radius:0;
    border:#356091 solid 1px;
    padding:12px 14px;
    text-transform:uppercase;
    font-weight:700;
}
.navbar-default .navbar-nav>li>a.btn.btn-primary:focus, .navbar-default .navbar-nav>li>a.btn.btn-primary:hover {
    border:#356091 solid 1px;
    background:#fff!important;
    color:#356091!important;
    border-bottom:#fff solid 1px;
}
#navigation .navbar-default::before {
    content:"";
    background:#d1d0ba;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:30px;
    z-index:0;
    border-bottom:#356091 solid 10px;
}
#navigation .cs-margin {
    padding:4px 0 0 0;
}
#top-body {
    padding:25px 40px 0;
}
#body .logo-icons {
    width:auto;
    height:14px;
}
#top-body .pos-left {
    text-align:left;
}
#top-body .cs-select {
    border-radius:0;
    font-size:13px;
    width:250px;
}
#top-body .pos-right {
    text-align:right;
}
.pad-top {
    padding-top:25px;
}
div#top-nav {
    padding-left:15px;
    background:#333;
    padding-right:15px;
}
div#middle-nav {
    padding-left:30px;
    padding-right:30px;
    background:#f6f4ed;
}
#center-nav {
    padding:0 0 0 24%;
    align-items:center;
}
#center-nav .bg-center {
    background:none;
    border:none;
    margin-bottom:0;
}
#center-nav .box-nav {
    padding:0;
}
#center-nav .navbar ul.navbar-nav>li {
    padding:0 5px;
}
#center-nav .navbar ul.navbar-nav>li::before {
    border-right:#333 solid 2px;
    content:"";
    position:absolute;
    top:10px;
    left:0;
    right:0;
    bottom:0;
    height:30px;
}
#center-nav .navbar ul.navbar-nav>li.none-border::before {
    content:"";
    border-right:none!important;
}
#center-nav .navbar ul.navbar-nav>li>a {
    font-size:16px;
    color:#333;
    font-weight:600;
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    background:#539bd6!important;
    color:#fff!important;
}
#center-nav ul.dropdown-menu.show {
    background:#539bd6;
    color:#fff;
    border-radius:0;
    padding:0;
    margin-left:5px;
}
#center-nav ul.dropdown-menu.show>li>a {
    color:#fff;
    padding:8px 20px;
}
#center-nav ul.dropdown-menu.show>li>a:hover {
    background:#3674a7;
}
#table-one {
    padding:25px 40px 0;
}
#table-two {
    padding:25px 40px 0;
}
#table-three {
    padding:25px 40px 0;
}
#table-four {
    padding:25px 40px 0;
}
#table-five {
    padding:25px 40px 0;
}
#table-six {
    padding:25px 40px 0;
}
.table {
    border:#cccccc solid 1px;
}
.table thead {
    background:#f4f4f4;
    color:#356091;
    font-size:16px;
    font-weight:800;
    border-bottom:#333 solid 3px;
}
.table tbody a.text-link {
    color:#333;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    line-height:35px;
}
.table>thead>tr>th {
    text-align:center;
    line-height:35px;
    padding:15px 0;
}
.table>tbody>tr>td {
    text-align:center;
    padding:13px 0;
}
.cs-form-select {
    width:250px;
    font-size:13px;
}
.cs-form-select.non-block {
    display:inline-block;
}
.icon-move {
    color:#ddd;
    font-size:20px!important;
    font-weight:800;
}
.icon-move:hover {
    color:#bbb;
}
input.box-middle {
    margin:10px;
}
.middle-radio {
    margin: 5px 0;
}
/*button*/
.save-button {
    padding: 20px 0 40px;
}
/*footer*/
.footer {
    background:#333;
    color:#fff;
}
ul.fo-nav {
    display:block;
}
ul.fo-nav li {
    display:inline-block;
    list-style:none;
    margin:0 8px;
    border-right:#fff solid 1px;
    padding:0 20px 0 0;
}
ul.fo-nav>li>a {
    color:#fff;
}
#footer {
    padding-top:25px;
}
#footer .col-sm-6.pos-right {
    text-align:right;
    padding-right:50px;
}
#footer .col-sm-6.pos-left {
    padding-left:0;
    text-align:left;
}









/*css homepage*/
.bodies {
    padding: 25px 0;
}
.head-text h3 {
    font-weight: 700;
}
.center-box-image .home-image {width: auto;height: 300px;}

.center-box-image {
    padding-top: 25px;
    padding-bottom: 35px;
}
.cs-bg-btn {
    margin-bottom: 0;
    margin-top: 25px;
}
nav.navbar.navbar-default.cs-bg-btn {
    background: transparent;
    border: none;
    padding: 0;
}

ul.nav.navbar-nav.navbar-left.cs-margin.cs-btn-primary>li>a.btn-primary {
    font-size: 10px;
    padding: 8px 10px;
    margin-right: 10px;
}

ul.nav.navbar-nav.navbar-left.cs-margin.cs-btn-primary>li>a.btn-primary:focus, .nav.navbar-nav.navbar-left.cs-margin.cs-btn-primary>li>a.btn-primary:hover {
    border-bottom: #356091 solid 1px;
    color: #fff!important;
    background: #204d74!important;
}
.footer-button a {
    margin: 0 5px;
}



/*urgent notice*/
.title-head{
    margin-top: 0;
}
.middle-radio.cs-font-head-label label {
    font-size: 14px!important;
}
.head-text label {
    font-size: 14px!important;
}
ul.list-footer {
    list-style: none;
    padding: 0;
}


@media (min-width:992px) {
    body {
    }
}
@media (max-width:768px) {
    .width_100 {
        width:100%;
    }
    .width_120 {
        width:100%;
    }
    .width_200 {
        width:100%;
    }
    div#top-nav {
        padding-left:0;
        padding-right:0;
    }
    #top-nav .navbar {
        height:100%;
    }
    #top-nav .navbar-form {
        margin-top:0;
    }
    button.navbar-toggle.collapsed.cs-toggle-nav {
        background:#ffffff;
    }
    #navigation .navbar-default .navbar-nav>li {
        margin-bottom:2px;
        margin-top:2px;
    }
    #center-nav {
        padding:0;
    }
    #top-body .cs-select {
        width:100%;
    }
    .cs-form-select {
        width:100%
    }
    #top-body .pos-right {
        text-align:center;
    }
    .table>thead>tr>th {
        padding:15px 50px;
    }
    .table>tbody>tr>td {
        padding:13px 0;
    }
    .table>tbody>tr>td>span {
        display:block;
    }
    #table-one {
        padding:0;
    }
    #table-two {
        padding:0;
    }
    #table-three {
        padding:0;
    }
    #table-four {
        padding:0;
    }
    #table-five {
        padding:0;
    }
    #table-six {
        padding:0;
    }
    #footer {
        padding-bottom:25px;
    }
    #footer .col-sm-6.pos-left {
        text-align:center;
    }
    #footer .col-sm-6.pos-right {
        text-align:center;
        padding: 0;
    }
}